<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.candy.mapper.BoardMapper">

<select id="getAttach" resultType="string">
select fullName from tbl_attach where fno = #{fno} order by regdate
</select>

<delete id = "deleteAttach">
delete from tbl_attach where fno=#{fno}
</delete>

<insert id="replaceAttach">
insert into tbl_attach(fullName, fno) values (#{fullName}, #{fno})
</insert>

<insert id="addAttach">
 insert into tbl_attach (fullName, fno) values (#{fullName}, last_insert_id()) </insert>

	<sql id="search">
		<where>
			<if test="arr!= null">
				<foreach collection="arr" item="target" open="(" close=")"
					separator="OR">
					<if test="target eq 't'.toString()"> title like concat('%',#{keyword},'%') </if>
					<if test="target eq 'c'.toString()"> content like concat('%',#{keyword},'%') </if>
					<if test="target eq 'w'.toString()"> writer like concat('%',#{keyword},'%') </if>
				</foreach> 
			</if>
			</where>
	</sql>
		
<update id="updateReplyCnt">
	update tbl_truck set reviewcnt = reviewcnt + #{amount} where fno=#{fno}
</update>

	<select id="list" resultType="org.candy.domain.TruckVO">
		select fno, title, writer, open_check, lat, lng, regdate, updatedate, reviewcnt, likecnt 
		from tbl_truck
		<include refid="search"></include>
		order by fno desc
		limit #{skip}, 10
	</select>

	<select id="getTotal" resultType="int">
		select count(*) from tbl_truck
		<include refid="search"></include>
	</select>
	
	<insert id="register">
	insert into tbl_truck (title, content, writer, open_check, lat, lng) 
	values (#{title},#{content},#{writer}, #{open_check}, #{lat}, #{lng}); 
	</insert>

	<select id="read" resultType="org.candy.domain.TruckVO">
		select * from tbl_truck where fno = #{fno};
	</select>
	
	<delete id="remove">
	delete from tbl_truck where fno = #{fno};
	</delete>

	
	<update id="modify">
	update tbl_truck set title=#{title}, content=#{content}, open_check=#{open_check}, lat=#{lat}, lng=#{lng}, updatedate=now() where fno=#{fno};
	</update>


<!-- <update id="updateViewCnt">
        update tbl_aboard set viewcnt = viewcnt + 1 where bno = #{bno}
    </update> -->
</mapper>